@{
    ViewData["Title"] = "Home Page";
}

<div id="main">
   <div id="panel">
        <div id="Ptop">
            <div class="ptop-group">
                <div class="elem">
                    <h2>Hit</h2>
                    <div class="box">5</div>
                </div>
                <div class="elem">
                    <h2>Timer</h2>
                    <div class="box">60</div>
                </div>
                <div class="elem">
                    <h2>Score</h2>
                    <div class="box">8</div>
                </div>
            </div>
        </div>

        <div id="Pbtm">
            <div class="bubble">5</div>
        </div>
    </div>

</div>
