* {
    margin: 0;
    padding: 0;
    font-family:Gabriola;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(155, 184, 155);
}

#panel {
    overflow: hidden;
    width: 70%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    display: flex; 
    flex-direction: column; 
}
 

#Ptop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: rgb(72,104,72);
}


.ptop-group {
    display: flex;
    gap: 50px; 
}


.elem {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
    .elem h2 {
        font-weight: 400;
        font-size: 20px;
        line-height: 1; 
        margin: 0; 
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        min-width: 36px;
        padding: 0 10px;
        font-size: 18px;
        font-weight: 600;
        color: rgb(18,119,57);
        background-color: #fff;
        border-radius: 6px;
    }

#Pbtm {
    flex-wrap:wrap;
    display: flex;
    gap: 20px;
    width:100%;
    height:calc(100% - 100%);
    padding: 20px;
}
.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgb(72,104,72);
    color: #ffff;
    border-radius: 20px;
    font-weight:500;
}
.bubble:hover{
    cursor:pointer;
    background-color:rgb(50,75,50);
}

